.header {width: 100%; height: 100px; background: #000; position: relative;
img {width: 150px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.Navi {
    z-index: 200;
    display:flex;
    position: absolute;
    position: absolute; left: 50%; top: 130%; transform: translate(-50%,-50%);
    li{margin-right: 30px; a {color: #2962FF;}}
}
}
