.con-box{
    margin: 100px 0;
    .contents {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .text-box {width: 30%; box-sizing: border-box; padding: 0 15px; line-height: 35px;
        h2{font-size: 30px; color: #ffff;}
        p {color: #dcdcdc; font-size: 15px;}
        span {color: #3949AB; display: block;}
        em {color: #0097A7;;}
        }
        img {width: 68%}
    }
    }