.wrap {width: 100%; background: #090909;}
.header {width: 100%; height: 100px; background: #000; position: relative;
img {width: 150px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}}
.inner {width: 1400px; margin: auto;
.list{display: flex; justify-content: space-evenly; background: #111751; border-radius: 15px; padding: 30px 10px; position: relative;
.prev {position: absolute; left: -60px; top: 50%; transform: translateY(-50%); width: 50px; height: 50px; cursor: pointer;}
.next {position: absolute; right:-60px; top: 50%; transform: translateY(-50%); width: 50px; height: 50px; cursor: pointer;}
button {border: none; background: #2d3c42;}
li {text-align: center; cursor: pointer;
img {width: 100px; border-radius: 25px; border:none}
p {color:#dcdcdc; font-size: 13px;}
&:hover{transition: 0.5s; scale: 1.2;}}}
.con-box{
margin: 100px 0;
.contents {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .text-box {width: 30%; box-sizing: border-box; padding: 0 15px; line-height: 35px;
    h2{font-size: 30px; color: #ffff;}
    p {color: #dcdcdc; font-size: 15px;}
    span {color: #3949AB; display: block;}
    em {color: #0097A7;;}
    }
    img {width: 68%}

}
}
}
.footer {
    width: 100%; height: 100px; background: #000;
}